$cursor-default = url('https://wayowe.com/s/mouse/angelo_black/Arrow.cur')

$cursor-pointer = url('https://wayowe.com/s/mouse/angelo_black/Hand.cur')

$cursor-help = url('https://wayowe.com/s/mouse/angelo_black/Help.cur')

$cursor-beam = url('https://wayowe.com/s/mouse/angelo_black/beam.cur')

$cursor-disabled = url('https://wayowe.com/s/mouse/angelo_black/no.cur')
