
// Font families.
$font-family-chinese      = "PingFang SC", "Microsoft YaHei"

$font-family-base         = Source Han Sans CN, FZYiHei-M20S, STHeiti, $font-family-chinese, sans-serif

$font-family-headings     = Chalkboard, HanziPenSC-W5, Shrikhand, Ma Shan Zheng, STXingkai, Xingkai SC, cursive

// $font-family-logo         = Shrikhand, Ma Shan Zheng, $font-family-base
$font-family-posts        = Cambria, Times New Roman, STSong, FangSong, SimSun, serif

$font-family-monospace    = Monaco, Consolas, Menlo, $font-family-chinese, monospace

$font-family-sans-serif   = Recursive, sans-serif

// Cursors
$cursor-default = url('https://wayowe.com/s/mouse/angelo_black/Arrow.cur')
$cursor-pointer = url('https://wayowe.com/s/mouse/angelo_black/Hand.cur')
$cursor-help = url('https://wayowe.com/s/mouse/angelo_black/Help.cur')
$cursor-beam = url('https://wayowe.com/s/mouse/angelo_black/beam.cur')
$cursor-disabled = url('https://wayowe.com/s/mouse/angelo_black/no.cur')
